
<!-- views/layouts/layout.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Hola!!</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<body>
  <%- include('./templates/navbar') %>
  <br>

<br>
  <main>
    <div class="container">
        <h2>Modificar una nueva Entrevista</h2>
        <form action="/Entrevista/<%= id %>" method="POST"> <!-- Corregir la acción del formulario -->
            <div class="form-group">
                <label for="prospecto">Entrevista id:</label>
                <input type="text" class="form-control" id="entrevistaId" name="entrevistaId" value="<%= id %>" required>
            </div>
            <div class="form-group">
                <label for="id_prospecto">id prospecto:</label>
                <input type="number" class="form-control" id="prospectoId" name="prospectoId" value="<%= prospectoId %>" required>
            </div>
            <div class="form-group">
                <label for="vacanteId">id Vacante</label>
                <input type="number" class="form-control" id="vacanteId" name="vacanteId" value="<%= vacanteId %>" required>
            </div>
            <div class="form-group">
                <label for="fecha_entrevista">fecha de entrevista:</label>
                <input type="text" class="form-control" id="fecha_entrevista" name="fecha_entrevista" value="<%= fecha_entrevista %>" required>
            </div>
            <div class="form-group">
                <label for="notas">notas:</label>
                <input type="text" class="form-control" id="notas" name="notas" value="<%= notas %>" required>
            </div>
            <div class="form-group">
                <label for="reclutado">reclutado:</label>
                <input type="text" class="form-control" id="reclutado" name="reclutado" value="<%= reclutado %>" required>
            </div>
            <button type="submit" class="btn btn-primary" value="submit">Modificar Entrevista</button>
        </form>
    </div>
  </main>
</body>
</html>